{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Montserrat:wght@700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@500&display=swap" rel="stylesheet">



    {% if title %}
        <title>AllSell - {{ title }}</title>
    {% else %}
        <title>AllSell</title>
    {% endif %}
    
</head>
<body>
    <section id='nav-section'>
        <nav id='nav-bar'>
            <a href="#"><img src="{% static 'svgs/logo.svg' %}" alt=""></a>
            <div id='search-bar-container'>
                <input class='search-bar' placeholder="Search for products, brands, and more..." type="text" autofocus='' autocomplete="off">
                <button class='search-bar-send-btn' type='submit'>
                    <svg class='search-bar-send-icon' xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50">
                        <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"/></svg>
                </button>
            </div>
        </nav>
        <nav id='nav-bar-dropdown'>
            <a href="#">Categories<svg id='dropdown-arrow' inkscape:version="0.92.5 (2060ec1f9f, 2020-04-08)" sodipodi:docname="dropdown.svg" version="1.1" viewBox="0 0 13.229 13.229" xmlns="http://www.w3.org/2000/svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd">
                <sodipodi:namedview id="base" bordercolor="#666666" borderopacity="1.0" inkscape:current-layer="layer1" inkscape:cx="48.375006" inkscape:cy="29.557539" inkscape:document-units="mm" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:showpageshadow="false" inkscape:window-height="704" inkscape:window-maximized="1" inkscape:window-width="1294" inkscape:window-x="72" inkscape:window-y="27" inkscape:zoom="5.6" pagecolor="#ffffff" showgrid="false" units="px"/>
                <g transform="translate(0 -283.77)" inkscape:groupmode="layer" inkscape:label="Layer 1">
                 <g transform="matrix(1.1111 0 0 1.1111 -1.4841 -31.541)" style="stroke-width:.52917">
                  <path class='dropdown-line-color' d="m2.1047 287.68 5.2619 5.2619"  inkscape:connector-curvature="0"/>
                  <path class='dropdown-line-color' d="m12.628 287.68-5.2619 5.2619"  inkscape:connector-curvature="0"/>
                 </g>
                </g>
               </svg>
               </a>
            
            <a href="#">Product</a>
            <a href="#">Models</a>
            <a href="#">Contact</a>
        </nav>
        <div id='category-dropdown-list-container' hidden>
            <ul id='category-dropdown-list'>
                <div></div>
                <a href="#"><li>Cars</li></a>
                <a href="#"><li>Technology</li></a>
                <a href="#"><li>Decoration</li></a>
                <div></div>
            </ul>
        </div>
    
    </section>



    {% block content %} {% endblock content %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>