{% extends 'allsellapp/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}


<section id='banner-section'>
    <div id='banner-data'>

        <div class='banner-img-container'>
            <div class='banner-btn-container'>
                <div class='prev_button'>
                    <svg id="svg-arrow-container" width='50' height='20' data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 936 1682"><defs></defs>
                        <polyline class="arrow" points="841 1587 95 841 841 95"/></svg>
        
                </div>
            </div>
            <div class='banner-img-slide'>

                {% for banner in banners.bannerimgs_set.all %}
                    <div class='banner-img-flex-slide'>
                        <img src="{{ banner.product_img.url }}" alt="">

                    </div>
                {% endfor %}
            </div>

            <div class='banner-btn-container'>

                <div class='next_button'>
                    <svg version="1.1" id="svg-arrow-container" width='50' height='20' xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 936 1682"  xml:space="preserve">
            
                        <polyline class="arrow" points="95,95 841,841 95,1587 "/></svg>
                </div>
            
    
            </div>
        </div>

        

        <div class='dot-container'>
            <ul class="dots">
            {% with indicator_quantity=banners.bannerimgs_set.all|length %}
                {% with ''|center:indicator_quantity as range %}
                    {% for _ in range %}
                        <li class="dot" value="{{ forloop.counter|add:"-1" }}"></li>
                    {% endfor %}
                {% endwith %}
            {% endwith %}
            </ul>
        </div>
    </div>
    


</section>

<section id='products-list-section'>
    <h3 class='main-heading my-5'>This week's offers</h3>
    <div class='products-gridbox-container'>
        
        {% for product in products %}
        <div class='product-item position-relative product-shadow-container'>
            {% if product.discount_price %}
            <h4 class="position-absolute top-50 badge bg-secondary">{{product.product_discount}}% off</h4>
            {% endif %}
            <div class='product-item-img-container'>
                <img src="{{ product.productimg_set.first.product_img.url }}" alt="">
            </div>
            
            <div class='product-item-info-container'>
                <h4 class='main-heading product-item-title my-3'> {{ product.product_name }}</h4>
                <p class='sec-paragraph mx-4 product-description'> {{ product.product_description }}</p>
                {% if product.product_discount %}
                    <div class="d-flex flex-row ms-4">
                        <del class="fs-5">${{ product.product_price|remove_trailing_zero }}</del>
                        <span class="fs-4 d-flex flex-row ms-2 fw-bold product-item-price">{{ product.discount_price|remove_trailing_zero }}{{ product.currency }}</span>
                    </div>
                {% else %}
                    <span class="fs-4 d-flex flex-row ms-4 fw-bold product-item-price">{{ product.product_price|remove_trailing_zero }}{{ product.currency }}</span>
                {% endif %}
                <div class="d-flex gap-1 ms-4 mt-4">
                    <a class="btn btn-outline-primary" href="{{ product.get_absolute_url }}">Add to cart</a>
                    <a class="btn btn-outline-dark" href="{{ product.get_absolute_url }}">View</a>
                </div>

            </div>

        </div>
        {% endfor %}

        
    </div>


</section>



{% endblock content %}
