{% extends 'allsellapp/base.html' %}
{% load static %}

{% block content %}


<section id='banner-section'>
    <div id='banner-data'>

        <div class='banner-img-container'>
            <div class='banner-btn-container'>
                <div class='prev_button'>
                    <svg id="svg-arrow-container" width='50' height='20' data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 936 1682"><defs></defs>
                        <polyline class="arrow" points="841 1587 95 841 841 95"/></svg>
        
                </div>
            </div>
            <div class='banner-img-slide'>
                <div class='banner-img-flex-slide'>
                    <img src="{% static 'images/banners/banner-nike.png' %}" alt="">

                </div>
                <div class='banner-img-flex-slide'>
                    <img src="{% static 'images/banners/banner-headphones.png' %}" alt="">

                </div>
                <div class='banner-img-flex-slide'>
                    <img src="{% static 'images/banners/banner-watch.png' %}" alt="">

                </div>
                <div class='banner-img-flex-slide'>
                    <img src="{% static 'images/banners/banner-car.png' %}" alt="">

                </div>
                <div class='banner-img-flex-slide'>
                    <img src="{% static 'images/banners/banner-nike2.png' %}" alt="">

                </div>

                
                
            </div>

            <div class='banner-btn-container'>

                <div class='next_button'>
                    <svg version="1.1" id="svg-arrow-container" width='50' height='20' xmlns="http://www.w3.org/2000/svg" 
                    viewBox="0 0 936 1682"  xml:space="preserve">
            
                        <polyline class="arrow" points="95,95 841,841 95,1587 "/></svg>
                </div>
            
    
            </div>
        </div>

        

        <div class='dot-container'>
            <ul class="dots">
                <li class="dot" value="0"></li>
                <li class="dot" value="1"></li>
                <li class="dot" value="2"></li>
                <li class="dot" value="3"></li>
                <li class="dot" value="4"></li>
            </ul>
        </div>
    </div>
    


</section>

<section id='products-list-section'>
    <h3 class='main-heading'>This week's offers</h3>
    <div class='products-gridbox-container'>
        
        {% for product in products %}
        <a class='anchor-links product-link' href="{% url 'product_view' product.slug %}">
            <div class='product-item  product-shadow-container'>
                <div class='product-item-img-container'>
                    <img src="{{ product.prod_img.url }}" alt="">
                </div>
                
                <div class='product-item-info-container'>
                    <h4 class='main-heading product-item-title'> {{ product.prod_name }}</h4>
                    <span class='sec-heading product-item-price'> {{ product.prod_price }}{{ product.currency }}</span>
                    <p class='sec-paragraph product-description'> {{ product.prod_desc }}</p>
                </div>

            </div>
        </a>
        {% endfor %}

        
    </div>


</section>



{% endblock content %}
