{% extends 'allsellapp/base.html' %}
{% load static %}
{% load custom_filters %}



{% block content %}
<section class="p-4 p-md-5 h-100" style="
    background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/background3.webp);
  ">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-5">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <div class="text-center mb-4">
            <h3>Payment methods</h3>
          </div>
              <div id='paypal-button-container' data-total-amount="{{ order.get_cart_total_as_float }}" data-order-id="{{ order.id }}"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src='https://www.paypal.com/sdk/js?client-id=ASReY5ecBj2r28gnJGmXw8-7EhwpbaNcKcKkQb7EcPWzQjkS_ciFIWmpgqYmbvgg85BdSpp8K0JKABRA&currency=USD&disable-funding=paylater'></script>
{% endblock %}
