{% extends 'allsellapp/base.html' %}
{% load static %}

{% block content %}
<section id='profile-section'>
    <div class='user-profile-container-flex'>
        <div class='shadow-container user-profile-container'>
            <div class='user-profile-pic-container'>
                <img class='user-profile' src="{{ user.profile.img.url }}" alt="">
            </div>
            <div class='user-profile-info-container'>
                <h2 class='main-heading username-title'>{{ user.username }}</h1>
                <div class='regular-section-flex-container'>

                    <div class='regular-flex-section'>
                        <div class='field-value'>
                            <p class='main-paragraph'>first name</p>
                        </div>
                        <div class='field-value'>
                            <p class='main-paragraph user-f_name'>{{ user.first_name }}</p>
                        </div>
                    </div>

                    <div class='regular-flex-section'>
                        <div class='field-value'>
                            <p class='main-paragraph'>last name</p>
                        </div>
                        <div class='field-value'>
                            <p class='main-paragraph user-l_name'>{{ user.last_name }}</p>
                        </div>
                    </div>

                    <div class='regular-flex-section'>
                        <div class='field-value'>
                            <p class='main-paragraph'>email</p>
                        </div>
                        <div class='field-value'>
                            <p class='main-paragraph user-email'>{{ user.email }}</p>
                        </div>
                    </div>


                </div>
            </div>
            
        </div>
    </div>
    <div class='shadow-container'>
        <h3>HEYTHERE</h3>
    </div>
</section>

{% endblock content %}
