{% extends 'allsellapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<section id='profile-section'>
    <div class='user-profile-container-flex'>
        <div class='shadow-container user-profile-container'>
            <div class='user-profile-pic-container'>
                <img class='user-profile-img' src="{{ user.profile.img.url }}" alt="">
            </div>
            <div class='user-profile-info-container'>
                <h2 class='main-heading username-title'>{{ user.username }}</h1>
                <div class='regular-section-flex-container'>

                    <div class='regular-flex-section'>
                        <div class='field-value'>
                            <p class='main-paragraph'>First name</p>
                        </div>
                        <div class='field-value'>
                            <p class='main-paragraph user-f_name'>{{ user.first_name }}</p>
                        </div>
                    </div>

                    <div class='regular-flex-section'>
                        <div class='field-value'>
                            <p class='main-paragraph'>Last name</p>
                        </div>
                        <div class='field-value'>
                            <p class='main-paragraph user-l_name'>{{ user.last_name }}</p>
                        </div>
                    </div>

                    <div class='regular-flex-section'>
                        <div class='field-value'>
                            <p class='main-paragraph'>Email Address</p>
                        </div>
                        <div class='field-value'>
                            <p class='main-paragraph user-email'>{{ user.email }}</p>
                        </div>
                    </div>


                </div>
            </div>
            
        </div>
    </div>
    <div class='shadow-container form-container'>
        <form method="POST" enctype="multipart/form-data">
            <div>
                {% csrf_token %}
                {{ user_update_form|crispy }}
                {{ profile_update_form|crispy }}
            </div>
            
            <div class='btn-register-container'>
                <button class='btn btn-register' type="submit">Update</button>
            </div>
        </form>
    </div>
</section>

{% endblock content %}
