
/* 
=====================================================
                      
                       Table of
                       Contents

=====================================================


1.  Root Variables

2.  Global Styles

3.  navBar Classes
    2.1 First navBar Classes

4.  Button Classes 
    4.1 First navBar Button classes 
    4.2 Banner Button classes


5.  Image  Classes 
    5.1 Icon Classes
    5.2 Banner Classes 


6.  Typography Classes
    6.1 navBar Section
    6.2 Home Page Section

7.  Wrapper Classes
    7.1  Wrapper Home Classes


8.  Media Queries
    8.1  Banner margin media Queries

9.  Active Classes




=========================================================
*/

/* 
=========================

   1.  Root Variables

=========================
*/


:root{

    --ff-mont: 'Montserrat', serif;
    --yellow-color: none;
    --sec-color: none;
    /* --nav-color: #3D518C; */
    --nav-color: #0c2032;
    --navbar-font-color--active: white;
    --bckgrnd-color: rgb(3, 3, 3);
    --drop-down-bc-color: rgba(22, 22, 22, 0.945);
    --drop-down-bc-color--active: rgb(74, 179, 240);
    --nav-bar-links-color: rgb(212, 212, 212);
    

}






/* 
======================

   2. Global Styles

======================
*/




*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* 
=========================

   3. NavBar Classes

=========================
*/

/* 
================================

/// 3.1 First navBar Classes ///

================================
*/

#nav-bar{
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--nav-color);
    align-items: center;
    width: 100%;
    min-height: 12vh;
    font-size: 15px;

}


.search-bar{
    font-family: var(--ff-mont);
    height: 5vh;
    width: 40vw;
}



#nav-bar-dropdown a{
    font-family: var(--ff-mont);
    color: var(--nav-bar-links-color);
    text-decoration: none;
    transition-duration: 200ms;
}

#nav-bar-dropdown a:hover{
    color: var(--navbar-font-color--active);
}



#nav-bar-dropdown{
    z-index: 2;
    top:12vh;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 6vh;
    font-size: 15px;
    border-top: 1px solid rgb(46, 46, 46);
}



#category-dropdown-list a{
    font-family: var(--ff-mont);
    text-decoration: none;
    list-style: none;
}

#category-dropdown-list {
    z-index: 3;
    position: absolute;
    background-color: var(--drop-down-bc-color);
    width: 20%;
    border-bottom-right-radius: 10px;
}



/* 
=========================

   4.  Button Classes

=========================
*/

/* 
=========================================

/// 4.1 First navBar Button classes  ///

=========================================
*/


.search-bar-send-btn{
    position: absolute;
    height: 75%;
    width: 7%;
    cursor: pointer;
    border: none;
    top: 10%;
    right: 1%;
    border-left: .2px solid rgb(161, 161, 161);
    background-color: transparent;

}

.search-bar-send-btn:hover{
    background-color: none;
}


.search-bar{
    border: none;
    border-color: transparent;
    text-decoration: none;
    outline: none;
}



.nav-bar-login a{
    margin-right: 10px;
    font-family: var(--ff-mont);
    text-decoration: none;
    color: var(--nav-bar-links-color);
    transition-duration: 100ms;
}


.nav-bar-login a:hover{
    color: var(--navbar-font-color--active);
}


#nav-bar-dropdown a:first-child{
    display: flex;
    justify-items: center;
}

#category-dropdown-list div:first-child{
    height: 20px;
    width: 100%;
}

#category-dropdown-list div:last-child{
    height: 20px;
    width: 100%;
}


#category-dropdown-list li{
    background-color: none;
    padding-top: 3%;
    padding-left: 5%;
    height: 50px;
    font-family: var(--ff-mont);
    font-weight: 600;
    color: var(--navbar-font-color--active);
    transition-duration: 100ms;


}

#category-dropdown-list li:hover{
    background-color: var(--drop-down-bc-color--active);


}


/* 
=========================================

/// 4.2 Banner Button classes  ///

=========================================
*/

.banner-btn-container{
    top:0;
    position: absolute;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.banner-btn-container:last-child{
    right:0;
}



.prev_button, .next_button{
    opacity: 0;
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.prev_button:hover, .next_button:hover{
    opacity: 1;
}


.prev_button{
    z-index: 2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.next_button{
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 
}


.arrow{
    fill:none;
    stroke: black;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-width:190px;


}


.dot-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots {
    display: flex;
    position: absolute;
    bottom: 100%;
    margin-bottom: 5px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    list-style: none;

  }

 
  
  .auto_slide {
  }
  


  .btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition-duration: 50ms;
  }
  
  .btn-register{
    color: #0dcaf0;
    border-color: #0dcaf0;
    font-family: var(--ff-mont);

  }

  .btn:hover{
    background-color: #0cbadd;
    border-color: #0dcaf0;
    color: white;

  }


/* 
=========================

   5.  Image  Classes 

=========================
*/

/* 
=============================

/// 5.1 Icon Classes  ///

=============================
*/

.search-bar-send-icon{
    fill: gray;
    width: 3vw;
    height: 3vh;


}


#dropdown-arrow{
    margin-left: 5%;
    width:20px;
    height:20px;
}


.dropdown-line-color{
    fill:none;
    stroke-linecap:round;
    stroke-width:.62917;
    stroke:rgb(255, 255, 255);

}


/* 
=============================

/// 5.2 Banner Image Classes  ///

=============================
*/


.banner-img-slide img{
    width:100vw;
    height: 100%;
    cursor: pointer;

}


.banner-img-slide{
    display: flex;
}



/* 
=====================================


        6.  Typography Classes


=====================================
*/

/* 
==================================

/// 6.1 Reusable classes  ///

==================================
*/
.main-heading{
    font-family: var(--ff-mont);
    font-size: 2rem;



}


/* 
==================================

/// 6.2 navBar Section  ///

==================================
*/




/* 
==================================

/// 6.3 Home Page Section  ///

==================================
*/


/* 
==================================

/// 6.4 Register Page Section  ///

==================================
*/


.register-heading{
    text-align: center;


}

.btn-register-container{
    margin-top: 1%;
    display: flex;
    justify-content: center;

}

.form-container{
    border: 3px solid black;
    width: 50%;
    margin: auto;
}

.form-container *{
    display: flex;
    flex-direction: column;
    font-family: var(--ff-mont);

}

/* 
=========================

   7.  Wrapper Classes

=========================
*/

/* 
=========================================

/// 7.1  Wrapper Base Classes  ///

=========================================
*/


#search-bar-container{
    padding-top: .2vh;
    position: relative;
    height: 6vh;
    width: 45vw;
    background-color: white;
    padding-left: 1%;
}


/* 
=========================================

/// 7.2  Wrapper Banner Classes  ///

=========================================
*/

#banner-data{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.banner-img-container{
    position: relative;
}

/* 
=========================================

/// 7.3  Wrapper Registration Styles  ///

=========================================
*/

#registration-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;


}

/* 
=====================================================================================================

                                        8.  Media Queries

=====================================================================================================
*/


/* 
=========================================

/// 8.1  Banner margin media Queries   ///

=========================================
*/


@media screen and (min-width: 1500px) {

    .banner-img-slide img{
        margin: 0 0.8vw;

    }


}

@media screen and (min-width: 1550px) {

    .banner-img-slide img{
        margin: 0 0.1vw;

    }


}


@media screen and (min-width: 1600px) {

    .banner-img-slide img{
        margin: 0 0.95vw;

    }


}


@media screen and (min-width: 1615px) {

    .banner-img-slide img{
        margin: 0 1.1vw;

    }


}

@media screen and (min-width: 1650px) {

    .banner-img-slide img{
        margin: 0 2.6vw;
    }
}





@media screen and (min-width: 1700px) {

    .banner-img-slide img{
        margin: 0 3.5vw;
    }
}


@media screen and (min-width: 1750px) {

    .banner-img-slide img{
        margin: 0 4.8vw;
    }
}


@media screen and (min-width: 1790px) {

    .banner-img-slide img{
        margin: 0 5.9vw;
    }
}




@media screen and (min-width: 1800px) {

    .banner-img-slide img{
        margin: 0 6.3vw;
    }
}

@media screen and (min-width: 1850px) {

    .banner-img-slide img{
        margin: 0 7.3vw;
    }
}

@media screen and (min-width: 1900px) {

    .banner-img-slide img{
        margin: 0 8.9vw;
    }
}


@media screen and (min-width: 1950px) {

    .banner-img-slide img{
        margin: 0 9.46vw;
    }
}






@media screen and (min-width: 2000px) {

    .banner-img-slide img{
        margin: 0 10.6vw;
    }
}

@media screen and (min-width: 2050px) {

    .banner-img-slide img{
        margin: 0 11.4vw;
    }
}

@media screen and (min-width: 2100px) {

    .banner-img-slide img{
        margin: 0 13vw;
    }
}

@media screen and (min-width: 2300px) {

    .banner-img-slide img{
        margin: 0 16vw;
    }
}


@media screen and (min-width: 2500px) {

    .banner-img-slide img{
        margin: 0 18.4vw;
    }
}

@media screen and (min-width: 2600px) {

    .banner-img-slide img{
        margin: 0 19.6vw;
    }
}

@media screen and (min-width: 2800px) {

    .banner-img-slide img{
        margin: 0 21.8vw;
    }
}

@media screen and (min-width: 3000px) {

    .banner-img-slide img{
        margin: 0 23.8vw;

    }
}

@media screen and (min-width: 3200px) {

    .banner-img-slide img{
        margin: 0 25.3vw;

    }
}



@media screen and (min-width: 3500px) {

    .banner-img-slide img{
        margin: 0 29.9vw;

    }
}



@media screen and (min-width: 4000px) {

    .banner-img-slide img{
        margin: 0 31.6vw;

    }
}


@media screen and (min-width: 4500px) {

    .banner-img-slide img{
        margin: 0 31.6vw;

    }
}








/* 
=========================

   9.  Active Classes

=========================
*/




.btn-active{
    opacity: 1;
}









