{% extends 'allsellapp/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
      <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="{% url 'home_view' %}">Home</a>
                    <span class="mx-2 mb-0">/</span>
                    <a href='{{ products.get_absolute_url }}' class="text-black">{{products.slug}}</a>
                </div>
            </div>
        </div>
      </div>
      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="product-item-detail-container">
          
          
          <div id="carouselExampleIndicators" class="p-4 col-md-6 mb-4 carousel slide" data-bs-ride="carousel">
            
            <div class="carousel-inner">
              {% for product_img in products.productimg_set.all  %}
                <div class="carousel-item {{ product_img.is_carousel_active }}">
                  <img src="{{ product_img.product_img.url }}" class="d-block w-100" alt="...">
                </div>
              {% endfor  %}
              <div class="carousel-indicators">

                {% with indicator_quantity=products.productimg_set.all|length %}
                  {% with ''|center:indicator_quantity as range %}
                    {% for _ in range %}
                      {% if forloop.counter == 1 %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter|add:"-1" }}" class="active" aria-current="true" aria-label="Slide {{ forloop.counter|add:"-1" }}"></button>
                      {% else %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter|add:"-1" }}" class="" aria-current="true" aria-label="Slide {{ forloop.counter|add:"-1" }}"></button>
                        
                      {% endif %}
                    {% endfor %}
                  {% endwith %}
                {% endwith %}     
                
              
              </div>
              
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

          
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="product-item-detail">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge bg-{{ products.categories.color_tag }}">{{ products.categories }}</span>
              </a>
            </div>

            <p class="lead">
              {% if products.product_discount %}
                  <span class="mr-1">
                    <del class="fs-4">{{ products.product_price }}</del>
                  </span>
                <span class="fs-3 fw-bold">{{ products.discount_price }}</span>
              {% else %}

                <h6>{{ products.product_name }}</h6>
                <h4 class="fw-bold">{{ products.product_price }}{{ products.currency }}</h4>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ products.product_description }}</p>

            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>

{% endblock content %}